/*Import Josefin Slab font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
/*Import Sacramento font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html {
    overflow-x: hidden; /*Prevents browser from displaying left to right scrollbar due to negative value margins*/
    scroll-behavior: smooth; /*Creates smooth scrolling effect when a bookmark link is clicked*/
}

/*NAVBAR*/
.nav-bar {
    position: sticky; /*Creates sticky element that stays in same spot in browser screen*/
    top: 0; /*Stick element at top of page based on user scrolling*/
    z-index: 9; /*Sets stack layer of navbar to scroll over all elements*/
}

ul {
    display: flex; /*Creates flex container that expands or shrinks elements,
    places them side by side horizontally*/
    list-style-type: none; /*Removes default styling for unordered list elements*/
    align-items: center;
    margin: -8px -8px 0px -8px; /*Margin order is top, right, bottom, left.
    Negative margins will stretch background beyond edge of browser screen*/
    background-color: rgb(1,128,106);
    border-bottom: 5px solid rgb(247,177,188);
}

a {
    display: block; /*Displays anchor elements vertically
    on a new line so that drop down menu will display vertically*/
    font-family: 'Josefin Slab', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(247,177,188);
    text-align: center;
    width: 100px;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

/*Only-of-type effects the only nested child of an element.
This will keep background blue while hovering and text white
when moving mouse over anchor elements in rollover-menu div*/
a:hover, .drop:hover a:only-of-type {
    background-color: rgb(149,238,233);
    color: white;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.7);
    transition: background-color 0.3s ease-in;
}

.rollover-menu {
    display: none; /*Prevents the anchor links in this div from
    showing on web browser until specified*/
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*Creates trigger effect when user hovers mouse over Recipes link,
will display  all elements within rollover-menu div*/
.drop:hover .rollover-menu {
    display: block;
}

.rollover-menu a {
    color: rgb(0,80,67);
}

.rollover-menu a:hover {
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(90,90,90,0.2);
}

.rollover-menu a:nth-child(1) {
    border-top: 5px solid rgb(238,118,136);
}

/*FOOTER*/
footer {
    align-items: center; /*Aligns nested HTML elements in the center such as table data*/
    margin: 0px -8px -8px -8px; /*Stretches footer background beyond browsers edge*/
    background-color: rgb(1,128,106);
    border-top: 5px solid rgb(247,177.188);
    bottom: 0; /*Positions footer at bottom of screen*/
}

table {
    width: 100%; /*Takes up full width of browser screen*/
}

td {
    width: 33%; /*Each table data item takes 1/3 of screen*/
}

td p {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(247,177,188);
}

/*BODY*/
.container {
    display: inline-block;
    background-size: 100%;
    padding-top: 60px;
    padding-left: 30px;
}

/*HEADERS*/
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    color: rgb(0,80,67);
    text-align: center;
}

h2, h3, h4 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

h2 {
    color: rgb(0,80,67);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(247,177,188);
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
}

/*PARAGRAPHS*/
p {
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0,80,67);
    text-align: center;
}

/*IMAGES*/
/*Positions elements to sit side by side on the screen*/
.column {
    float: left;
    width: 48%;
    padding: 10px;
}

/*Styling for screens 1200px or smaller*/
@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
        padding: 0px;
        margin-left: -15px; /*Centers each column
        on the screen*/
    }
}

/*Styles first 7 img elements contained in .column class*/
.column img:nth-child(-n+7) {
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4),
    0 6px 20px 0 rgba(0,0,0,0.2);
}

.recipe-container {
    width: 500px;
    height: 350px;
    margin: 100px auto 180px; /*Shorthand value top,
    right and left, then bottom*/
}

/*Styling for mobile size screens*/
@media screen and (max-width: 600px) {
    .column img:nth-child(-n+7) {
        width: 350px;
        height: 225px;
    }

    .recipe-container {
        width: 350px;
        height: 225px;
    }
}

.recipe-card-background {
    background-color: rgb(149,238,223);
}

/*Alternates blue tile background on smaller screen sizes*/
@media screen and (max-width: 1200px) {
    #pork {
        background-color: rgb(255,255,255);
    }
    #biscuits {
        background-color: rgb(149,238,223);
    }
}

/*FEATURED RECIPE*/
/*Styles the featured recipe h3 tag*/
#featured-header {
    font-family: 'Sacramento', cursive; /*Font form
    fonts.google.com*/
    font-size: 60px;
    color: rgb(0,80,67);
}

#featured-main-text {
    text-align: justify;
    padding-top: 20px;
    margin-left: 40px;
}

/*Sets margin left to 0 becasue it is not needed
on a small screen and centers text*/
@media screen and (max-width: 1200px) {
    #featured-main-text {
        margin-left: 0;
    }
}

/*Specifically styles the img tag nested within
#featured div in Featured Recipe section*/
@media screen and (min-width: 1600px) {
    #featured img {
        width: 700px;
        height: auto; /*Automatically calculates the image
        height based on the width*/
        margin-left: -100px;
        margin-top: -20px; /*Margin left and top will override
        margin styling from the .recipe-container class-selector*/
    }
}

/*Adjusts the position the featured image to be centered
in its div when the width is 1599px or less*/
@media screen and (max-width: 1599px) {
    #featured img {
        margin-left: 0px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px) {
    #featured .recipe-card-background {
        height: 300px;
    }
    #featured img {
        margin-top: -65px;
    }
}

#featured-button {
    display: block; /*Positions the recipe button on
    its own line from the other elements within the div*/
    margin: 60px auto 0px;
    background-color: rgb(1,128,106);
    border-radius: 35px;
    border: none; /*Removes default border set by the browser
    when border-radius is used*/
    font-family: 'Josefin Slab', serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
}

/*Specifically styles the hover effect of the recipe button
in the Featured Recipe section*/
#featured-button:hover {
    background-color: rgb(247,177,188);
}