/*BODY*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color:cornsilk;
}

/*HEADER*/
/*Add top and bottom margins to h1 element in header*/
#welcome {
    margin-top: 30px;
    margin-bottom: -5px;
}

/*Add bottom padding to p element in header*/
#page {
    padding-bottom: 10px;
}

/*CONSOLE LIGHTBOX*/
#thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10rem;
    width: 60%
}

.row {
    border: 2px solid black;
}

.row > .column {
  padding: 10px 2px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Create 3 equal columns that float next to each other*/
.column {
  float: left;
  width: 33%;
}

/*Modal (background)*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/*Modal content*/
#enlarged {
    width: 100%;
    height: 484px;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/*Close Button*/
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/*Hide the slides by default*/
.mySlides {
  display: none;
}

/*Next & previous buttons*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/*Position the "next" button to the right*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/*On hover, add a black background color with some transparency*/
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*Number text (1/3 etc)*/
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/*Caption text*/
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*CONSOLE IMAGES*/
.console-container {
    margin: 15px 15px; /*Adds 15px margin to all sides of console images section*/
    padding-bottom: 30px; /*Adds 30px bottom padding to console images section*/
}

/*Display all images in size 1200px x 720px*/
img {
    width: 1000px;
    height: 480px;
}

/*VIDEO*/
#video {
    padding-bottom: 40px; /*Add 40px bottom padding to div containing video*/
}

/*FORM*/
form {
    padding-bottom: 50px;
}

/*Styles both input and textarea elements within the form*/
form input, form textarea {
    width: 18em; /*Width of inputs scales with screen size*/
    height: 2em; /*Height of inputs sales with screen size*/
    margin: 5px 5px; /*Adds equal spacing on top and bottom, left and right of inputs*/
    border: 1px solid blue; /*Adds solid blue border 1px thick to inputs*/
    border-radius: 5px; /*Creates rounded edges of 5px for input borders*/
}

/*FOOTER*/
/*Styles the table within the footer*/
footer table {
    display: flex; /*Place table into flex container*/
    justify-content: center; /*Center elements within table*/
}