/*NAVBAR*/
.nav-bar {
    position: sticky;
    top: 0;
    z-index: 4; /*Sets position of navbar so it is on top*/
}

ul {
    list-style-type: none; /*Removes default bullet point styling*/
    background-color: #363636;
    margin: -10px -10px 0px -10px; /*Margin value order: top,right,bottom,left*/
    overflow: hidden; /*Hides excess margin space past window edge*/
    display: flex; /*Creates flex container , elements take up as much width available*/
    align-items: center;
}

a {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: white;
    text-decoration: none; /*Removes default underline decoration*/
    text-transform: uppercase; /*Transforms all text to uppercase*/
    width: 100px;
    padding: 30px;
    text-align: center;
    transition: background-color 0.4s ease-in;
}

/*NAVBAR ROLLOVER EFFECTS*/
a:hover, .drop:hover /*drop:hover triggers when links in Images list is hovered*/ {
    background-color: rgb(228,159,0);
    color: rgb(49,49,49);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    transition: background-color 0.3s ease-in;
}

/*Styles and hides anchor links within Images div tag*/
.rollover-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*Displays anchor elements when user hovers over Images link*/
.drop:hover .rollover-menu {
    display: block;
}
/*Styles anchor elements within div containing rollover-menu class*/
.rollover-menu a {
    color: #363636;
}

/*Styles anchor elements within div containing rollover-menu when hover is triggered*/
.rollover-menu a:hover {
    color: white;
}

/*Styles first anchor element in rollover-menu div*/
.rollover-menu a:hover:nth-child(1) {
    background-color: rgb(117,20,20);
}

/*Styles second anchor element in rollover-menu div*/
.rollover-menu a:hover:nth-child(2) {
    background-color: rgb(87,7,7);
}

/*Styles third anchor element in rollover-menu div*/
.rollover-menu a:hover:nth-child(3) {
    background-color: rgb(48,2,2);
}

/*FOOTER*/
footer {
    background-color: #363636;
    margin: 30px -10px -10px -10px; /*Margin value order top, right, bottom, left*/
    overflow: hidden; /*Hides excess margin space expanding past browser window edge*/
    height: 70px;
}

/*Styles text in footer*/
.footer-text {
    font-family: Calibri, sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: rgb(228,159,0);
    text-align: center;
}

/*IMAGES*/
img {
    width: 700px;
    height: 550px;
}

/*Creates container for each image*/
.image-container {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

/*Creates a uniform amount of space from navbar to top of image*/
#image3 {
    padding-bottom: 170px;
}

/*IMAGE ONE*/
/*Overlays a dark grey color over first image*/
.overlay {
    position: absolute;
    width: 700px;
    height: 550px;
    background-color: rgb(90,90,90);
    opacity: 0;
    transition: 0.5s ease;
}

/*Triggers hover effect of overlay on Image 1 with 60% opacity*/
.overlay:hover {
    opacity: 0.6;
}

/*IMAGE TWO*/
.zoom {
    transform: scale(1); /*Sets base size of Image 2 for zoom in effect*/
    transition: 0.5s ease-out; /*Creates a smooth transition of image zooming back to original size*/
    z-index: 3; /*Sets image position in stack layer behind navbar so zoom effect does not cover it*/
}

/*Creates a zoom in effect on Image 2 */
.zoom:hover {
    transform: scale(1.5); /*Scales Image 2 to grow half its size*/
    transition: 0.5s ease-out;
}

/*IMAGE THREE*/
/*Creates position of animation burst and hides overflow of shape size going beyond edges of Image 3*/
.circle {
    position: relative;
    margin: 0px;
    overflow: hidden;
}

/*Sets up the burst animation shape and position before hover is triggered*/
.circle::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%; /*Creates a circle/oval shape*/
    opacity: 0; /*Makes shape invisible until animation is triggered by hover*/
    top: 50%;
    left: 50%; /*Top and left position circle to center of image*/
    transform: translate(-50%,-50%); /*Allows circle to evenly expand on all four sides of Image 3*/
    animation: burst-reverse 1s;
}

/*Triggers hover effect on the circle class selector*/
.circle:hover::before {
    animation: burst 1s;
    animation-fill-mode: forwards;
}

/*Creates a growing circle effect*/
@keyframes burst {
    0% /*0% is start of animation*/ {
        opacity: 0.2;
        background-color: rgb(224,224,224);
    }
    100% /*100% is the end of the animation*/ {
        opacity: 0.7;
        background-color: rgb(224,224,224);
        width: 300%;
        height: 300%;
    }
}

/*Animation of circle shrinking back to center of image*/
@keyframes burst-reverse {
    0% {
        opacity: 0.7;
        background-color: rgb(224,224,224);
        width: 300%;
        height: 300%;
    }
    100% {
        opacity: 0.2;
        background-color: rgb(224,224,224);
    }
}