/*NAVBAR*/
.nav-bar {
    position: sticky;
    top: 0;
    z-index: 4; /*Sets position of navbar so it is on top*/
}

ul {
    list-style-type: none; /*Removes default bullet point styling*/
    background-color: #363636;
    margin: -10px -10px 0px -10px; /*Margin value order: top,right,bottom,left*/
    overflow: hidden; /*Hides excess margin space past window edge*/
    display: flex; /*Creates flex container , elements take up as much width available*/
    align-items: center;
}

a {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: white;
    text-decoration: none; /*Removes default underline decoration*/
    text-transform: uppercase; /*Transforms all text to uppercase*/
    width: 100px;
    padding: 30px;
    text-align: center;
    transition: background-color 0.4s ease-in;
}

/*NAVBAR ROLLOVER EFFECTS*/
a:hover, .drop:hover /*drop:hover triggers when links in Images list is hovered*/ {
    background-color: rgb(228,159,0);
    color: rgb(49,49,49);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    transition: background-color 0.3s ease-in;
}

/*Styles and hides anchor links within Images div tag*/
.rollover-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*Displays anchor elements when user hovers over Images link*/
.drop:hover .rollover-menu {
    display: block;
}
/*Styles anchor elements within div containing rollover-menu class*/
.rollover-menu a {
    color: #363636;
}

/*Styles anchor elements within div containing rollover-menu when hover is triggered*/
.rollover-menu a:hover {
    color: white;
}

/*Styles first anchor element in rollover-menu div*/
.rollover-menu a:hover:nth-child(1) {
    background-color: rgb(117,20,20);
}

/*Styles second anchor element in rollover-menu div*/
.rollover-menu a:hover:nth-child(2) {
    background-color: rgb(87,7,7);
}

/*Styles third anchor element in rollover-menu div*/
.rollover-menu a:hover:nth-child(3) {
    background-color: rgb(48,2,2);
}

/*FOOTER*/
footer {
    background-color: #363636;
    margin: 30px -10px -10px -10px; /*Margin value order top, right, bottom, left*/
    overflow: hidden; /*Hides excess margin space expanding past browser window edge*/
    height: 70px;
}

/*Styles text in footer*/
.footer-text {
    font-family: Calibri, sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: rgb(228,159,0);
    text-align: center;
}

/*IMAGES*/
img {
    width: 700px;
    height: 550px;
}

/*Creates container for each image*/
.image-container {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

/*Creates a uniform amount of space from navbar to top of image*/
#image3 {
    padding-bottom: 170px;
}

/*IMAGE ONE*/
/*Overlays a dark grey color over first image*/
.overlay {
    position: absolute;
    width: 700px;
    height: 550px;
    background-color: rgb(90,90,90);
    opacity: 0;
    transition: 0.5s ease;
}

/*Triggers hover effect of overlay on Image 1 with 60% opacity*/
.overlay:hover {
    opacity: 0.6;
}