/*HTML*/
html {
    font-family: Arial, sans-serif; /*Set font for entire website to Arial*/
}

.content-container {
    margin-right: 15%;
    margin-left: 15%;
}

/*NAVBAR*/
.topnav {
    background-color: #7b7485; /*Add a black background color to navbar*/
    overflow: hidden;
    margin-bottom: 18px;
    font-weight: bold;
    font-size: small;
}

/*Style the links inside navbar*/
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*Change the color of links on hover*/
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*Add a color to the selected link*/
.topnav a:active {
    background-color: #000080;
    color: white;
}

/*INFO TILES*/
/*Styles div elements on page with info-tile class*/
.info-tile {
    border-style: 0px solid black;
    box-shadow: 4px 5px 10px gray;
    margin-bottom: 18px;
    padding: 25px;
}

/*Style p elements inside info-tile div elements*/
.info-tile p {
    text-align: justify;
}

#impact-para {
    padding: 20px;
}

/*IMAGES*/
img {
    float: right;
    height: 250px;
    margin-left: 40px;
}